@import "../../assets/style/variable";

.pagination-wrap {
  border-bottom: 1px solid $base-gray2;
  border-top: 1px solid $base-gray2;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;

  .pagination {

    li {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      &.next,
      &.previous {
        a {
          padding: 22px 6px;
          &:hover {
            background: $base-gray4;
            color: $base-withe;
            font-family: 'Century Gothic', sans-serif;
            &:after {
              content: none;
            }
          }

        }
      }

      a {
        padding: 22px 3px;
        display: inline-block;
        cursor: pointer;
        font-size: 1.6rem;
        font-family: 'Century Gothic', sans-serif;
        transition: .3s;
        color: $base-dark;
        position: relative;

        &:focus,
        &:active {
          outline: none;
        }

        &:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 17px;
          width: 0;
          height: 1px;
          background: $base-gray;
          transition: .3s;

        }

        &:hover {
          &:after {
            width: 100%;
          }

        }
      }

      &.active {
        a {
          &:after {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .pagination-wrap {
    .pagination {
      li {
        margin-right: 10px;
      }
    }
  }
}