.customers {
  &__img-wrap {
    margin-bottom: 10px;
    text-align: center;
  }

  &__img {
    display: inline-block;
  }

  &__title {
    margin-bottom: 25px;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
  }

  &__thanks {
    margin-bottom: 60px;
    font-size: 1.6rem;
    line-height: 1.3;
  }

  &__slider {
    margin-bottom: 80px;
  }

  &__reviews {
    margin-bottom: 80px;
  }

  &__send-reviews {
    margin-bottom: 20px;
  }

  &__free-entry {
    margin-bottom: 20px;
  }

  &__thanks-content {
    margin-bottom: 20px;
  }
}