@import "../../assets/style/variable";

.all-projects {
  margin-bottom: 20px;

  &__nav {
    //margin-bottom: 15px;
  }

  &__content {

  }

  &__item {
    height: 320px;
    margin-bottom: 30px;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &:hover {
      .all-projects__item-description {
        transform: scale(1);
      }
    }
  }

  &__item-description {
    transform: scale(0);
    transform-origin: center;
    background: rgba($base-gray, 0.7);
    letter-spacing: 1px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    font-size: 1.6rem;
    font-weight: bold;
    color: $base-withe;
    cursor: pointer;
    transition: .4s;
  }
}
