@import "../../assets/style/variable";

.home-production {
  margin-bottom: 50px;

  &__item-wrap {
    padding-bottom: 20px;
    height: 100%;
  }

  &__title {
    font-size: 4rem;
    margin-bottom: 35px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    padding: 0 15px;
  }

  &__item {
    display: flex;
    height: 100%;
    flex-direction: column;
    border-radius: 4px;
    transition: .3s;

    &:hover {
      text-decoration: none;
      box-shadow: 5px 8px 21px 0 rgba($base-danger, 0.35);

      .home-production__content {
        background: $base-danger;
      }
    }
  }

  &__img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  &__content {
    padding: 10px 20px 20px;
    background: $base-gray;
    color: $base-withe;
    position: relative;
    flex: auto;
    transition: .3s;

    p {
      font-size: 1.4rem;
      line-height: 1.3;
    }
  }

  &__content-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
  }


  &__more {
    display: block;
    max-width: 8px;
    height: auto;
    position: absolute;
    bottom: 15px;
    right: 15px;
  }
}
