@import "variable";

.button {
  display: inline-block;
  color: $base-withe;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: $base-danger;
  border: 1px solid transparent;
  padding: 14px 60px;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.5;
  border-radius: 5px;
  max-width: 100%;
  transition: .3s;

  &_full-width {
    width: 100%;
  }

  &_big {
    width: 250px;
  }

  &_xxl {
    width: 400px;
  }

  &:active,
  &:focus {
    outline: none;
  }

  &:hover {
    box-shadow: 0 4px 18px rgba($base-dark, .4);
    color: $base-withe;
    text-decoration: none;
  }

  &_transparent {
    background: none;
    border: 2px solid $base-danger;
    color: $base-danger;
    padding: 10px 40px;

    &:hover {
      opacity: 1;
      background: none;
      border-color: $base-danger;
      color: $base-danger;
    }
  }

  &_transparent-withe {
    background: none;
    border: 2px solid $base-withe;
    color: $base-withe;
    padding: 10px 40px;

    &:hover {
      opacity: 1;
      background: none;
      border-color: $base-danger;
      color: $base-danger;
    }
  }

  &_icon {
    position: relative;

    &.button_big {
      img {
        right: 40px;
      }
      &:hover {
        img {
          right: 35px;
        }
      }
    }
    img {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      max-width: 15px;
      transition: .3s;
    }

    &:hover {
      img {
        right: 15px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .button {
    font-size: 1.2rem;
  }
}
