@import "reset";
@import "variable";
@import "button";
@import "form";


@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/CenturyGothic-Italic.eot');
    src: local('Century Gothic Italic'), local('CenturyGothic-Italic'),
    url('../fonts/CenturyGothic-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CenturyGothic-Italic.woff') format('woff'),
    url('../fonts/CenturyGothic-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Century Gothic';
    //src: url('../fonts/CenturyGothic.eot');
    src: local('Century Gothic'), local('CenturyGothic'),
    //url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CenturyGothic.woff') format('woff'),
    url('../fonts/CenturyGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/CenturyGothic-Bold.eot');
    src: local('Century Gothic Bold'), local('CenturyGothic-Bold'),
    url('../fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CenturyGothic-Bold.woff') format('woff'),
    url('../fonts/CenturyGothic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/CenturyGothic-BoldItalic.eot');
    src: local('Century Gothic Bold Italic'), local('CenturyGothic-BoldItalic'),
    url('../fonts/CenturyGothic-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CenturyGothic-BoldItalic.woff') format('woff'),
    url('../fonts/CenturyGothic-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

html {
  font-size: 62.5%;
}

body {
    font-family: 'Century Gothic', sans-serif;
    font-size: 1rem;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.body-content {
    margin-top: 115px;
    margin-bottom: 115px;
}

strong {
  font-weight: bold;
}


@media screen and (max-width: 992px) {
  .body-content {
    margin-top: 100px;
    margin-bottom: 50px;
  }
}
