@import "variable";

.form-bg {
  label {
    padding-left: 20px;
    margin-bottom: 10px;
    color: $base-withe;
    font-size: 1.4rem;
  }

  .form-group {

  }

  .form-control {
    border: 2px solid rgba($base-withe, 0.3);
    background: $base-danger4;
    color: $base-withe;
    &:focus {
      border-color: $base-withe;
      box-shadow: none;
    }
    &::placeholder {
      color: $base-withe1;
    }
  }
}

label {
  padding-left: 20px;
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.form-group {
  margin-bottom: 2rem;
  position: relative;
}

.form-control {
  height: 54px;
  padding-left: 20px;
  font-size: 1.4rem;
  color: $base-dark2;
  border: 1px solid $base-gray5;
}

.form-control:focus,
.form-control:after {
  border-color: $base-dark;
  outline: none;
  box-shadow: none;
}

textarea.form-control {
  padding: 20px;
}

.form-control::placeholder {
  color: $base-gray3;
  font-family: 'Century Gothic', sans-serif;
  font-size: 1em;
}

.form-control-error {
  position: absolute;
  left: 0;
  top: calc(100% + 1px);
  color: #b31e38;
  font-size: 0.9rem;
  &_white {
    color: #fff;
  }
}
