$base-danger: #b31e38;
$base-danger2: #ff0000;
$base-danger3: #ff6767;
$base-danger4: #c04157;
$base-danger5: #7b0117;
$base-danger6: #ff2401;

$base-dark: #202020;
$base-dark2: #4a4a4a;
$base-dark3: #363636;

$base-gray: #666666;
$base-gray2: #e6e6e6;
$base-gray3: #b3b3b3;
$base-gray4: #3d3d3d;
$base-gray5: #9c9c9c;
$base-gray6: #d0cbbc;
$base-gray7: #bfbfbf;
$base-gray8: #dadada;
$base-gray9: #dfdfdf;

$base-gray-light: #e6e6e6;

$base-withe: #fff;
$base-withe1: #e1b1b8;
