@import "../../assets/style/variable";

$hexagon-width: 131px;
$hexagon-height: 75px;

.home-how-we-working {
  margin-bottom: 90px;

  &__title {
    font-size: 4rem;
    margin-bottom: 35px;
    font-weight: bold;
    text-align: center;
  }
}

.home-how-we-working-item {
  display: inline-block;
  &__line {
    height: 200px;
    border-left: 3px solid $base-danger;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      left: 0;
      transform: translateX(-50%);
      background: $base-danger;
    }
  }

  &__container {
    padding-left: $hexagon-width / 2 - 2;
    display: flex;
    flex-direction: column;
  }

  &_revert {
    margin-top: calc(100% - #{$hexagon-height / 2});
    .home-how-we-working-item__line {
      &:after {
        bottom: 0;
        top: auto;
      }
    }
    .home-how-we-working-item__container {
      flex-direction: column-reverse;
      justify-content: flex-end;
    }

    .home-how-we-working-item__content {
      justify-content: flex-end;
      margin-top: 10px;
    }
    .home-how-we-working-item__number {
      margin-bottom: 0;
      margin-top: 30px;
    }

    .home-how-we-working-item__text {
      top: auto;
      bottom: -55px;
    }
  }

  &__title {
    font-size: 1.6rem;
    margin-bottom: 40px;
    font-weight: bold;
  }

  &__content {
    padding-left: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    position: absolute;

  }

  &__text {
    font-size: 1.2rem;
    position: absolute;
    word-wrap: normal;
    width: 210px;
    left: 40px;
    top: 30px;
  }

  &__number {
    font-size: 3.6rem;
    color: $base-danger;
    margin-bottom: 30px;
    display: flex;
    transform: translateX(-50%);
    font-weight: bold;
    align-self: flex-start;
  }
}

.hexagon,
.hexagon__inside {
  width: $hexagon-width;
  height: $hexagon-height;
}

.hexagon {
  position: relative;
  background-color: $base-danger;
  transition: background-color 0.25s;

  &__inside {
    //@extend .hexagon;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(.95);
    background-color: $base-withe;
    z-index: 1;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $base-withe;
    }

    &:after {
      transform: rotate(60deg);
    }

    &:before {
      transform: rotate(120deg);
    }
  }

  &__img-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 32px;
    z-index: 1;
    pointer-events: none;
    img {
      max-width: 50px;
    }
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $base-danger;
  }

  &:after {
    transform: rotate(60deg);
  }

  &:before {
    transform: rotate(120deg);
  }
}

@media screen and (max-width: 992px) {

  .home-how-we-working {

    &__title {
      margin-bottom: 0;
    }
  }

  .home-how-we-working-item {
    margin-top: 60px;

    &__title {
      margin-bottom: 10px;
    }

    &__wrap {
      text-align: center;
    }

    &_revert {
      margin-top: 60px;
      flex-direction: column-reverse;
      display: inline-flex;

      .home-how-we-working-item__line {
        &:after {
          bottom: auto;
          top: 0;
        }
      }

      .home-how-we-working-item__container {
        flex-direction: column;
      }

      .home-how-we-working-item__content {
        justify-content: flex-start;
        margin-top: 0;
        padding-left: 30px;
      }

      .home-how-we-working-item__number {
        margin-bottom: 30px;
        margin-top: 0;
      }

      .home-how-we-working-item__text {
        bottom: auto;
        top: 30px;
      }
    }

    .home-how-we-working-item__text {
      position: static;
    }

  }
}

@media screen and (max-width: 500px) {
  .home-how-we-working-item {
    margin-top: 60px;

    .home-how-we-working-item__text {
      width: 100px;
      font-size: 1rem;
    }

  }
}
