@import "../../../assets/style/variable";

.slider-product-modal {

  position: relative;

  &__title {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 35px;
  }

  &__nav {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: .4;
    transition: .3s;

    &:hover {
      opacity: 1;
    }

    &_prev {
      left: -40px;
      transform: rotate(180deg) translateY(-50%);
      transform-origin: top;
    }

    &_next {
      right: -40px;
    }
  }

  &__img-wrap {
    text-align: center;

    img {
      max-height: 330px;
      display: inline-block;
    }
  }

  &__footer {
    border-top: 1px solid $base-gray8;
    padding-top: 30px;
    margin-top: 30px;
  }

  &__name {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__info {
    font-size: 1.2rem;
    color: $base-dark3;
  }

  &__new,
  &__top,
  &__sale {
    color: $base-withe;
    padding: 12px 5px;
    background: $base-danger5;
    display: inline-block;
    font-size: 1.6rem;
    position: absolute;
    min-width: 90px;
    text-align: center;
    top: 0;
  }

  &__new {
    right: 0;
  }

  &__top {
    left: 50%;
    transform: translateX(-50%);
    background: $base-danger2;
  }

  &__sale {
    left: 0;
    background: $base-danger3;
  }
}

@media screen and (max-width: 767px) {
  .slider-product-modal {
    padding: 40px 10px 10px;

    &__nav {

      &_prev {
        left: -12px;
      }

      &_next {
        right: -12px;
      }
    }
  }
}

