@import "../../assets/style/variable";

.product-dropdown {
  margin-bottom: 20px;
  li {

  }

  &__category-name {
    margin-bottom: 5px;
    padding: 8px 11px;
    cursor: pointer;
    display: block;
    font-size: 1.6rem;
    transition: .3s;

    &:hover,
    &_active {
      background: $base-danger;
      color: #fff;
    }
  }

  &__has-sub-item {
    .product-dropdown__category-name {

      position: relative;

      &:after {
        content: '';
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 7px;
        height: 12px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../../assets/img/icon/arrow_nav.png");
        transition: .3s;
      }
    }

    &_open {
      .product-dropdown__sub-item-list {
        display: block;
      }

      .product-dropdown__category-name {
        &:after {
          transform: translateY(-50%) rotate(90deg);
        }
      }

    }
  }

  &__sub-item-list {
    display: none;
    margin: 12px 0;
  }

  &__sub-item {
    margin: 0 0 5px 10px;
    font-size: 1.4rem;
    padding: 6px 5px 6px 20px;
    cursor: pointer;
    transition: .3s;
    &:hover,
    &_active {
      background: $base-danger;
      color: #fff;
    }
  }

}
