@import "../../assets/style/variable";

.send-reviews {
  &__title {
    text-align: center;
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 40px;
  }

  &__form {
    width: 54%;
    margin: 0 auto;
  }

  &__input-wrap {
    width: 58%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .send-reviews {
    &__form {
      width: 100%;
    }

    &__input-wrap {
      width: 90%;
    }

  }
}
