@import "../../../../assets/style/variable";

.header-socials {
  display: flex;

  li {
    margin-right: 20px;
  }

  a {
    display: inline-block;

    svg {
      width: 18px;
      height: 18px;
      fill: $base-gray;
      transition: .3s;

      &:hover {
        fill: $base-danger;
      }
    }
  }
}