@import "../../../assets/style/variable";

.all-projects-category {

  &__nav-btn {
    display: inline-block;
    width: 100%;
    font-weight: bold;
    color: $base-withe;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: $base-gray;
    border-radius: 2px;
    border: 1px solid transparent;
    padding: 15px 5px;
    margin-bottom: 30px;
    font-size: 1.4rem;
    line-height: 1.5;
    transition: .3s;

    &:hover,
    &_active {
      background: $base-danger;
      box-shadow: 5px 8px 21px 0 rgba($base-danger, 0.35);
    }
    &:focus,
    &:active {
      outline: none;
    }
  }
}
