@import "../../assets/style/variable";

.systems-types-hero {
  display: flex;
  margin-bottom: 50px;
  flex-wrap: wrap;
  min-height: 500px;

  &__main-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 45%;
  }

  &__main-info {
    width: 55%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    background-color: $base-gray;
    color: $base-withe;
  }

  &__main-info-body {
    flex: auto;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }

  &__main-text {
    font-size: 1.4rem;
    line-height: 1.4;
    margin-bottom: 50px;
    //columns: 2;
    //column-gap: 3em;

    p {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__main-info-footer {
    border-top: 1px solid $base-withe;
    padding-top: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__main-name {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 5px;
  }

  &__main-price {
    font-size: 2.4rem;
  }
}

.systems-popular-types {
  margin-bottom: 10px;

  .row {
    height: 100%;
  }

  &__title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 4rem;
    font-weight: bold;
  }

  &__bg {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 260px;
    background-position: center;
  }

  &__type-info {
    padding-top: 5px;
  }

  &__type-title {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 25px;
    line-height: 1.3;

    p {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    li {
      position: relative;
      padding-left: 30px;
      font-size: 1.4rem;
      margin-bottom: 7px;

      &:after {
        content: '';
        position: absolute;
        left: 3px;
        top: 50%;
        transform: translateY(-50%);
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $base-danger;
      }
    }
  }
}

.systems-types-img {
  text-align: center;
  position: relative;
  margin-bottom: 40px;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 34px;
    width: 100%;
    height: 60px;
    background: $base-gray2;
    border-radius: 5px;
    z-index: -1;
  }

  &__img {
    display: inline-block;
  }
}

.systems-types-uniqueness {
  margin-bottom: 40px;

  &__title {
    text-align: center;
    margin-bottom: 35px;
    font-size: 3.6rem;
    font-weight: bold;
  }

  &__content {
    font-size: 1.4rem;
    line-height: 1.4;
    margin-bottom: 20px;
  }
}

.link-wrap-all {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (max-width: 992px) {
  .systems-types-hero {
    flex-direction: column-reverse;
    margin-bottom: 25px;

    &__title {
      margin-bottom: 20px;
    }

    //&__main-text {
    //  columns: 1;
    //}

    &__main-img {
      width: 100%;
      height: 400px;
    }

    &__main-info {
      width: 100%;
      padding: 15px;
    }

    &__main-info-footer {
      flex-direction: column;
    }

    &__main-name {
      margin-bottom: 10px;
      font-size: 2rem;
      text-align: center;
    }

    &__main-price {
      font-size: 1.6rem;
      margin-bottom: 20px;
      text-align: center;
    }
  }

  .systems-popular-types {
    &__bg {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 767px) {

}

