@import "../../assets/style/variable";

.free-measurement {
  margin: 0 auto 40px;
  width: 70%;

  &__title {
    color: $base-danger;
    margin-bottom: 20px;
    font-size: 2.8rem;
    text-align: center;
  }

  &__from-wrap {
    background: $base-danger;
    border-radius: 4px;
    padding: 15px 0;
    margin-bottom: 30px;
  }
  &__wrap-img-left {
    position: relative;
    img {
      position: absolute;
      left: -55px;
      top: -60px;
      max-height: 320px;
    }
  }

  &__wrap-img-right {
    position: relative;
    img {
      position: absolute;
      top: -20px;
      left: 80px;
    }
  }
}

@media screen and (max-width: 992px) {
  .free-measurement {
    width: 100%;
    &__wrap-img-left {
      display: none;
    }
    &__wrap-img-right {
      display: none;
    }
  }
}