@import "../../assets/style/variable";

.product-catalog {

}

.single-product {
  margin-bottom: 30px;
  cursor: pointer;
  position: relative;

  &:after {
    content: '';
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    position: absolute;
    border-radius: 2px;
    background: none;
    left: -8px;
    top: -8px;
    z-index: -1;
    transition: .3s;
  }

  &:hover {
    &:after {
      background: $base-danger;
    }

    .single-product__name {
      color: $base-withe;
      border-color: $base-withe;
    }

    .single-product__type {
      color: $base-withe;
    }
  }

  &__img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 155px;
    margin-bottom: 15px;
    position: relative;
  }

  &__new,
  &__top,
  &__sale {
    min-width: 60px;
    text-align: center;
    color: $base-withe;
    padding: 8px 5px;
    background: $base-danger5;
    display: inline-block;
    font-size: 1.4rem;
    position: absolute;
    top: 0;
  }

  &__new {
    right: 0;
  }

  &__top {
    left: 50%;
    transform: translateX(-50%);
    background:$base-danger2;
  }

  &__sale {
    left: 0;
    background: $base-danger3;
  }

  &__name {
    text-align: center;
    margin-bottom: 15px;
    padding-bottom: 15px;
    font-size: 1.4rem;
    border-bottom: 1px solid $base-gray6;
    transition: .3s;
  }

  &__type {
    padding-bottom: 5px;
    text-align: center;
    font-size: 1.4rem;
    transition: .3s;
  }
}
