@import '../../assets/style/variable';

.modal-window {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  //overflow-y: auto;
  //overflow-x: hidden;
  //display: flex;
  //align-items: center;
  //justify-content: center;
  //padding: 30px 0;
  animation: showModal .6s ease-in-out 1;

  &__overlay {
    background: rgba($base-withe, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //height: 100%;
    //display: flex;
    //align-items: center;
    //max-height: calc(100vh - 50px);
  }

  &__content-inner {
    max-height: calc(100vh - 60px);
    //margin: 0 auto;
    overflow: auto;
    padding: 40px 100px 20px;
    box-shadow: 8px 14px 65px 0 rgba($base-gray7, 0.23);
    width: 730px;
    max-width: 95vw;
    background: $base-withe;
    z-index: 1;

    &_xs {
      width: 500px;
    }
  }

  &__close {
    position: absolute;
    right: 0;
    top: -20px;
    cursor: pointer;
    img {
      max-width: 12px;
      opacity: .5;
      transition: .3s;
    }

    &:hover {
      img {
        opacity: 1;
      }
      color: $base-danger;

    }
  }

  &__title {
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
  }
}

.successfully-sent {
  &__img {
    display: inline-block;
    margin-bottom: 30px;
  }

  &__message {
    font-size: 1.6rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
  }
}

.ask-question {
 &__form {
   width: 65%;
   margin: 0 auto;
 }
}

@keyframes showModal {
  0% {
    transform: translateY(-100%);
    //transform: scale(0);
  }
  100% {
    transform: translateY(0px);
    //transform: scale(1);
  }
}


@media screen and (max-width: 767px) {
  .modal-window {

    &__content-inner  {
      padding: 20px;
    }
  }

  .ask-question {

    &__form {
      width: 100%;
    }
  }
}
