@import "../../assets/style/variable";

.hero-slick-slider {
  margin-bottom: 60px;

  &__item {
    height: calc(100vh - 200px);
    min-height: 350px;
  }

  &__item-inner {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__item-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $base-withe;
    width: 60%;
    margin: 0 auto;
    height: 100%;
    background: rgba($base-dark, .5);
  }

  &__item-logo {
    display: inline-block;
    max-width: 100px;
    margin-bottom: 10px;
  }

  &__item-sub-title {
    font-size: 2.4rem;
    margin-bottom: 20px;
  }

  &__item-title {
    font-size: 4.8rem;
    margin-bottom: 10px;
    font-weight: bold;
  }

  &__item-price {
    font-size: 2.4rem;
    margin-bottom: 40px;
  }

  .slick-dots {
    bottom: -35px;
    li {
      button {
        &:before {
          color: $base-gray9;
          opacity: 1;
          font-size: 0.8rem;
        }

        //background: $base-gray;
      }

      &.slick-active {
        button {
          &:before {
            color: $base-danger6;
          }
        }
      }
    }
  }

  .slick-arrow-wrap {
    position: absolute;
    height: 100%;
    background: rgba($base-dark, .5);
    top: 0;
    width: 60px;
    z-index: 1;
    &__next {
      right: 0;
    }
    &__prev {
      left: 0;
    }
  }

  .slick-arrow {
    z-index: 1;
    opacity: .5;
    transition: .3s;
    max-width: 14px;
    height: auto;
    left: 50%;
    transform: translate(-50%, -50%);

    &:hover {
      opacity: 1;
    }

    &.slick-prev {
      left: 10px;
      transform: rotate(180deg) translate(-50%, -50%);
      transform-origin: top;
    }

    &.slick-next {
      right: 10px;
    }
  }
}

@media screen and (max-width: 767px) {
  .hero-slick-slider {
    font-size: 1.2rem;

    &__item-sub-title {
      font-size: 20px;
    }

    &__item-title {
      font-size: 3rem;
    }

    &__item-price {
      font-size: 2rem;
    }

    .slick-arrow-wrap {
      width: 40px;
    }

  }
}
