@import "../../../assets/style/variable";

.top-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 15px;
  background: $base-withe;
  z-index: 999;

  &__info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 35px;
    //display: inline-block;
    //margin: 10px 15px 10px 0;
  }

  &__info-inner {
    padding: 10px 15px;
    border-bottom: 1px solid $base-dark2;
  }

  &__socials {

    &_mobile {
      display: none;
    }
  }

  &__info-item {
    font-size: 14px;
    display: inline-block;
    margin-right: 25px;
    color: $base-gray;

    &:hover {
      color: $base-gray;
      text-decoration: none;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }

  &__logo {
    max-width: 87px;
  }

  &__navigation {
    display: flex;
    align-items: center;
  }

  &__mob-toggle {
    display: none;
  }
}

.top-navbar-menu {
  display: flex;
  align-items: center;
  flex-direction: row;

  &__sub-menu {
    position: relative;
    z-index: 2;

    &:hover {
      .top-navbar-menu__sub-menu-list {
        display: flex;
      }
    }

    &_mob {
      display: none;
    }
  }

  &__sub-menu-name_mob,
  &__sub-menu-name {
    display: inline-block;
    cursor: pointer;
    color: $base-dark;
    font-size: 1.4rem;
  }

  &__sub-menu-list {
    display: none;
    flex-direction: column;
    position: absolute;
    left: -10px;
    top: 100%;
    z-index: 3;
    background: $base-withe;

    li {
      min-width: 230px;
      padding: 10px 25px;
      border-top: 1px solid $base-gray2;
      height: auto;
      line-height: 1.4;

      a {
        text-decoration: none;
        color: $base-dark;
        font-size: 1.4rem;
        display: inline-block;
        transition: .3s;

        &:hover {
          color: $base-danger;
        }
      }
    }
  }

  > li {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;

    > a {
      text-decoration: none;
      color: $base-dark;
      font-size: 1.4rem;
      display: inline-block;
      transition: .3s;

      &.is-active {
        color: $base-danger;
        //font-weight: bold;
      }

      &:hover {
        color: $base-danger;
      }
    }
  }

  &__mobile {
    display: none;
  }
}

.top-navbar-mobile-item {
  display: none;
}

.top-navbar-sub-menu {

  &__list {
    display: none;
  }
}

.top-navbar-language {
  display: flex;
  margin-left: 60px;

  &__item {
    margin-left: 20px;
    position: relative;
    font-size: 1.4rem;
    cursor: pointer;
    transition: .3s;

    &_active,
    &:hover {
      color: $base-danger;
      //font-weight: bold;
    }

    &:after {
      content: '\\';
      position: absolute;
      left: -12px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.4rem;
    }

    &:first-child {
      margin-left: 0;

      &:after {
        content: none;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .top-navbar {
    //height: 80px;
    padding: 0 15px;

    &__main {
      height: 65px;
    }

    &__logo {
      max-height: 60px;
    }

    &__mob-toggle {
      display: flex;
      width: 25px;
      //height: 50px;
      transition: background-color 0.3s ease-in-out;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      cursor: pointer;

      span {
        width: 25px;
        height: 2px;
        background-color: $base-dark2;
        transition: transform 0.3s ease-in-out;
        margin-bottom: 8px;
      }
    }

    &__navigation {
      position: fixed;
      left: 0;
      top: 100px;
      height: calc(100% - 100px);
      flex-direction: column;
      align-items: flex-start;
      background: #fff;
      width: 100%;
      transform: translateX(-100%);
      transition: .3s;
    }

    &_mob-open {

      .top-navbar__navigation {
        transform: translateX(0);
      }

      .top-navbar__mob-toggle {
        span {

          &:nth-child(1) {
            transform: translate(0%, 10px) rotateZ(45deg);
          }

          &:nth-child(2) {
            transform: scale(0);
          }

          &:nth-child(3) {
            transform: translate(0%, -10px) rotateZ(-45deg);
          }
        }
      }
    }
  }

  .top-navbar-menu {
    flex-direction: column;
    //justify-content: center;
    align-items: flex-start;
    padding: 10px 0 10px 20px;
    //height: 100%;
    height: auto;
    width: 100%;
    overflow: auto;

    > li {
      height: auto;
      padding: 10px;
      line-height: normal;

    }

    &__sub-menu {
      display: none;

      &_mob {
        display: block;
      }
    }


    &__sub-menu-list_mob {

      li {
        padding: 10px 10px 10px 25px;

        a {
          text-decoration: none;
          color: $base-dark;
          font-size: 1.4rem;
          display: inline-block;
          transition: .3s;

          &:hover {
            color: $base-danger;
          }
        }
      }
    }

    &__sub-menu_mob {
      .top-navbar-menu__sub-menu-list_mob {
        display: none;
      }

      &_open {
        .top-navbar-menu__sub-menu-list_mob {
          display: block;
          padding-bottom: 0;
        }
      }
    }

  }

  .top-navbar-language {
    margin-left: 0;
    padding: 10px 0 10px 30px;
  }
}

@media screen and (max-width: 767px) {
  .top-navbar {
    &__info {
        justify-content: center;
    }

    &__socials {
      &_desktop {
        display: none;
      }

      &_mobile {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .top-navbar {
    &__info-item {
      font-size: 1.2rem;
    }
    &__info-inner {
      padding: 10px 2px;
    }
    &__info-item {
      margin-right: 10px;
    }
  }
}




