@import "../../assets/style/variable";

.single-news {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__date {
    font-size: 1.2rem;
  }

  &__stock {
    font-size: 1.4rem;
    color: $base-danger;
    font-weight: bold;
  }

  &__img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    margin-bottom: 35px;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__content {
    font-size: 1.4rem;
    line-height: 1.4;
  }

}

@media screen and (max-width: 767px) {
  .single-news {
    &__img {
      height: 115px;
    }
  }
}
