@import "../../assets/style/variable";

.free-entry {
  background: $base-gray-light;
  padding: 30px;
  border-radius: 5px;
  margin-top: 90px;

  &__title {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;

  }

  &__sub-title {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 25px;

  }

  &__img-wrap {
    position: relative;
  }

  &__img {
    display: inline-block;
    position: absolute;
    left: 0;
    top: -68px;
  }
}

@media screen and (max-width: 992px) {
  .free-entry {
    &__img {
      position: static;
      top: 0;
    }
  }
}
