.contact-us {
 &__info-wrap {
   width: 85%;
   margin: 0 auto 150px;
 }
}

@media screen and (max-width: 992px) {
  .contact-us {
    &__info-wrap {
      width: 100%;
      margin: 0 auto 50px;
    }
  }
}