@import "../../assets/style/variable";

.home-contact {
  margin-bottom: 30px;

  &__item {
    text-align: center;
    display: block;
    margin-bottom: 20px;
    color: $base-dark;
    &_link {
      &:hover {
        color: $base-dark;
        text-decoration: none;
      }
    }

  }

  &__icon {
    max-width: 20px;
    display: inline-block;
    margin-bottom: 10px;
  }

  &__title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__info {
    font-size: 1.4rem;
    margin-bottom: 5px;
  }

  &__info-link {
    color: $base-dark;
    display: inline-block;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      text-decoration: none;
      color: rgba($base-dark, .6);
    }
  }
}
