@import "../../assets/style/variable";

.page-title-container {
  border-bottom: 1px solid $base-gray2;
  border-top: 1px solid $base-gray2;
  padding: 14px 0;
  margin-bottom: 70px;
  height: 200px;
  background: url("../../assets/img/main-title-bg_new2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;

  &__title {
    text-align: center;
    font-size: 4rem;
    color: $base-withe;
  }
}
