@import "../../assets/style/variable";

.single-reviews {
  border-radius: 5px;
  border: 1px solid $base-gray5;
  padding: 20px;
  color: $base-gray5;
  margin-bottom: 30px;
  height: calc(100% - 30px);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__user-info {
    display: flex;
    align-items: center;
  }

  &__avatar {
    margin-right: 10px;
    max-width: 17px;
  }

  &__name {
    font-size: 1.4rem;
  }

  &__date {
    font-size: 1.4rem;
  }

  &__content {
    font-size: 1.4rem;
    line-height: 1.3;
  }
}
