@import "../../assets/style/variable";

.systems-type {
  margin-bottom: 30px;
  cursor: pointer;
  position: relative;

  &:after {
    content: '';
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    position: absolute;
    background: none;
    border-radius: 2px;
    left: -8px;
    top: -8px;
    z-index: -1;
    transition: .3s;
  }

  &:hover {
    &:after {
      background: $base-danger;
    }

    .single-product__name {
      color: $base-withe;
      border-color: $base-withe;
    }

    .single-product__type {
      color: $base-withe;
    }
  }

  &__img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    margin-bottom: 10px;
    position: relative;
  }
}
