@import "../../../assets/style/variable";

.footer-content {
  background: $base-gray;
  padding: 45px 0;
  color: $base-withe;

  &__menu {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    li {
      margin-bottom: 20px;
      width: 50%;
    }

    a {
      display: inline-block;
      color: $base-withe;
      font-size: 1.4rem;
      transition: .3s;

      &:hover {
        color: $base-danger;
        text-decoration: none;
      }
    }
  }

  &__socials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
    li {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      display: inline-block;

      svg {
        width: 18px;
        height: 18px;
        fill: $base-withe;
        transition: .3s;

        &:hover {
          fill: $base-danger;
        }
      }
    }
  }

  &__info {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;

    &_no-margin {
      margin-bottom: 0;
    }
  }

  &__info-icon {
    margin-right: 25px;
  }

  &__info-content {

  }

  &__info-title {
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 15px;
  }

  &__info-description {
    font-size: 1.4rem;
    &_mb {
      margin-bottom: 20px;
    }
  }

  &__info-tel,
  &__info-phone {
    color: $base-withe;
    text-decoration: none;
    margin-bottom: 5px;
    display: block;
    margin-right: 5px;
    &:hover {
      color: $base-withe;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 992px) {
  .footer-content {
    padding: 15px 0;

    &__menu {
      text-align: center;
      li {
        width: 100%;
      }
    }

    &__info-wrap {
      text-align: center;
    }

    &__info {
      display: inline-flex;
      align-items: left;
    }

    &__info-icon {
      display: none;
    }

    &__info-tel {
      margin-bottom: 10px;
    }

    &__socials {
      align-items: center;

      li {
        margin-bottom: 15px;
      }
    }
  }
}
