@import "../../assets/style/variable";


.customers-slider {
  margin: 0 40px 60px;

  &__item {
    height: 120px;
    display: flex !important;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;

    &:focus,
    &:active {
      outline: none;
    }
  }

  &__item-img {
    max-height: 100%;
  }
  .slick-arrow {
    z-index: 1;
    opacity: .5;
    max-width: 14px;
    height: auto;
    transition: .3s;

    &:hover {
      opacity: 1;
    }

    &.slick-prev {
      left: -30px;
      transform: rotate(180deg) translateY(50%);
    }

    &.slick-next {
      right: -30px;
    }
  }
}
