@import "../../assets/style/variable";

.catalog {
  &__wrap {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 992px) {
  .catalog {
    &__wrap {
      margin-bottom: 20px;
    }
  }
}


