@import "../../assets/style/variable";

.contact-us-info {
  margin-bottom: 35px;

  &:last-child {
    margin-bottom: 0;
  }

  &__icon {
    fill: $base-danger;
    display: inline-block;
    width: 25px;
    margin-bottom: 20px;
  }

  &__title {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 15px;
  }

  &__content {
    font-size: 2rem;
    margin-bottom: 5px;
    color: $base-dark;
    display: inline-block;
    //margin-right: 5px;
    //&:last-child {.home-production__item-wrap
    //  margin-right: 0;
    //}
    &:hover {
      text-decoration: none;
      color: $base-dark;
    }
  }
}

@media screen and (max-width: 767px) {
  .contact-us-info {
    text-align: center;
    &:last-child {
      margin-bottom: 35px;
    }
  }
}
